.form-flex-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
}

.form-item {
  width: 100%;
  max-width: 800px;
}

.form-item-small {
  width: 100%;
  max-width: 200px;
}

.secondary-text {
  font-size: 12px;
}
