.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-transform: uppercase;
  height: 8vh;
  padding-left: 2%;
  width: 100%;
}

.App-link {
  color: #61dafb;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-row,
flex-row-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-row-buttons {
  width: 100%;
}

.random-episode {
  text-align: right;
  padding-right: 25px;
  width: 50%;
  display: inline-block;
}

.back-button {
  text-align: left;
  padding-left: 25px;
  width: 50%;
  display: inline-block;
}

.cell {
  padding: 25px;
  color: black;
  text-decoration: none;
}

.full-page {
  height: 100%;
  width: 100%;
}

.center-of-page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100px;
  height: 100px;
}

.image-container {
  position: relative;
  font-family: Arial;
}

.image-text {
  position: absolute;
  bottom: 12%;
  left: 2%;
  background-color: black;
  opacity: 0.7;
  color: white;
  padding: 10px;
  border-radius: 7px;
}

.textbox {
  width: 80%;
}
